{% load static from staticfiles %}

body{
	background-color:#E9E9E9;
}
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 10px 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 1.42857;
    margin-top: -25px;
}
a .liked{
  margin-top: -25px;
}
.txt{
	color:#37703D;
}
.text-heading{
	margin-top:50px;
	margin-bottom:30px;
	color:#37703D;
	font-family: 'MetropolisMedium';
	font-weight: normal;
	font-style: normal;
}

.text-heading:after{
	content:"";
	display:block;
	width:200px;
	height:5px;
	background-color:#FED650;
	margin: 5px auto;
	border-radius:5px;
}

.sec-card{
	margin-top:120px;
	margin-bottom:120px
}

.love-icon{
	position: relative;
	display: block;
	text-align:center;
	width:50px;
	height: 50px;
	line-height: 50px;
	box-shadow: 0 0 0 2px red;
	border-radius: 50%;
	font-size: 20px;
	color:red;
	transition: .5s;
	margin-top: -25px;
}

.post{
	width:262.52px;
	height:246.53px;
	float:left;
}



/* love animation*/

#heart{
	display:block;
	width:50px;
	height:50px;
	background:rgba(120, 120, 120,1) url("/img/love-icon.png") center no-repeat;
	/* <!--background:rgba(120, 120, 120,1) {% static 'home/love.png' %} center no-repeat;--> */

	background-size:100%;
	border-radius:50%;
	position:relative;
	margin-top:-25px;
	box-shadow:0 0 0 0px #FED650;
	transition:all 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53), background-color 0.4s linear
  }
  #heart:hover{
	animation:beat 1s infinite
  }
  #heart.loved{
	background-color:#FED650;
	box-shadow:0 0 0 5px #FED650;
	transform:rotate(-3deg);
	animation: none
  }
  #heart .ray{
	width:60px;
	height:8px;
	left:26px;
	top:17px;
	background:rgba(0,0,0,0);
	border-radius:4px;
	position:absolute;
	transform:rotate(0deg);
	transform-origin: 0% 50%;
	transition:all 0.1s linear;
	overflow:hidden;
	text-align:right;
	pointer-events:none
  }
  #heart .ray:before{
	content:"";
	position:absolute;
	top:0;
	right:10%;
	display:block;
	width:50%;
	border-radius:4px;
	height:8px;
	background:rgba(247, 40, 109,0)
  }
  #heart .ray:nth-of-type(2){
	transform:rotate(45deg);
  }
  #heart .ray:nth-of-type(3){
	transform:rotate(90deg);
  }
  #heart .ray:nth-of-type(4){
	transform:rotate(135deg);
  }
  #heart .ray:nth-of-type(5){
	transform:rotate(180deg);
  }
  #heart .ray:nth-of-type(6){
	transform:rotate(225deg);
  }
  #heart .ray:nth-of-type(7){
	transform:rotate(270deg);
  }
  #heart .ray:nth-of-type(8){
	transform:rotate(315deg);
  }
  #heart.loved .ray{
	width:60px
  }
  #heart.loved .ray:before{
	width:10%;
	right:-10%;
	background:#FED650;
	/* background:rgba(247, 40, 109,1); */
	transition:all 0.4s cubic-bezier(0.085, 0.890, 0.600, 0.115)
  }

  @keyframes beat{
	0%{ opacity:0.5}
	80%,100%{ opacity:0.9}
  }
